.title {
  color: #5156b5;
  font-family: sans-serif;
  font-weight: 800;
  text-align: center;
}

/* .title-enter {
    opacity: 1;
} */

.title-enter-active {
  animation: task 800ms ease-in alternate-reverse;
}

/* .title-exit {}

.title-exit-active {
    animation-duration: 800ms;
    animation-name: hinge;
} */

@keyframes task {
  0% {
    transform: translateX(0);
  }

  30% {
    opacity: 0.7;
    transform: translateX(30px);
  }

  100% {
    opacity: 0;
    transform: translateX(-200px);
  }
}

.form {
  text-align: center;
  border: 1px solid black;
  width: 200px;
  margin: 0 auto 10px;
}

.input_name {
  margin: 10px;
}

.input_number {
  margin: 10px;
}

.submit_btn {
  min-width: 140px;
  border-radius: 4px;
  outline: none;
  margin-bottom: 10px;
  background-color: #5156b5;
  color: white;
}
